
:root {
  --color-default: #212529;
  --color-primary: rgba(0,159,227,1);
  --color-secondary: #f4781a;
  --color-title: rgb(1,97,175);
  --color-light: rgb(255, 152, 152);
}
.title-text-2
{
    font-family: 'Josefin Sans', sans-serif;
}
.product-border
{
    border: 5px solid var(--color-primary);
}
.product-border:hover
{
    border: 5px solid var(--color-secondary);
    cursor: pointer;
}
.product-text
{
    font-family: 'Poppins', sans-serif;
   
}
.product-text h4
{
    font-size: 17px;
}